
<div class="col">
    <div class="card h-100 first__card">
            <img class="img-fluid card-img-top first__card-img" src="{{ file_url(content.field_image_product['#items'].entity.field_media_image.entity.fileuri) }}">
        <div class="card-body d-flex flex-column first__card-body">
            <h5 class="card-title first__card-title">{{ label }}</h5>
            <p class="card-text first__card-description">{{ content.field_description_product }}</p>
            <a href="{{ url }}" class="link-secondary mt-auto stretched-link first__card-link">Watch
                more!</a>
        </div>
    </div>
</div>

