{% import _self as menus %}
{{ menus.menu_links(items, attributes, menu_level) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="navbar-nav mr-auto justify-content-between dropdown-menu-dark w-100">
    {% for item in items %}
       {% set link_attributes = item.link_attributes %}
       <li class="nav-item dropdown-menu-dark dropdown">
          {% if menu_level == 0 and item.is_expanded and item.below %}
             <a href="#" class="nav-item px-2 nav-link dropdown-toggle px-xl-4" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Expand menu Products">{{item.title}}</a>
             <ul class="dropdown-menu bg-dark p-0">
               {% set link_attributes = link_attributes.addClass('dropdown-toggle').setAttribute('data-toggle', 'dropdown') %}
             </ul>
          {% else %}
                <li class="nav-item ">
                    <a href="{{ item.url }}" class="nav-item px-2 nav-link px-xl-4">{{ item.title }}</a>
                </li>
          {% endif %}

      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
