<div class="product_price"> {{ content }}</div>
<div class = "product_delivery">
    <div class = "product_delivery-item">
        <img src="/themes/custom/drupaltheme/src/1.png" alt="#"> В наличии в магазине<a href="#">Lamoda</a>
    </div>
    <div class = "product_delivery-item">
        <img src="/themes/custom/drupaltheme/src/2.png" alt="#"> Бесплатная доставка
    </div>
</div>
<div class = "product_button">
    <button class="custom-btn custom-btn--blue">купить</button>
    <button class="custom-btn">в избранное</button>
</div>